$orange-background: linear-gradient(174deg, #DEAD30 0%, #E28B31 77%, #E37E31 100%);
$blue-background: linear-gradient(162deg, #00A7CD 0%, #003845 100%);
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Open+Sans:300,400,600,700&display=swap');
$main-font:'Open Sans',sans-serif;

*{
    box-sizing: border-box;
    
}
body{
    position:relative;
    margin: 0px;
    padding:0px;
    background:#333;
}
button:hover{
    opacity: 0.8;
}
button:focus{
    outline: none;
}
#main-header{
    background:$orange-background;
    width:100vw;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:0px;
    padding:0px;
    height:240px;
    .logo{
        height:70%;
    }
    #user-drop{
        position:absolute;
        right:25px;
    }
    #user-info{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        color:#003845;
        cursor: pointer;
        h2{
            margin:15px;
            font-family:'Luckiest Guy', 'Open Sans', sans-serif;
        }
    }
    #user-logout{
        color:#003845;
    }
    #user-logout:hover{
        color:#fff;
        cursor: pointer;
    }
    #user-drop-content{
        display:none;
    position:absolute;
    font-family: $main-font;
    text-align:center;
    width:100%;
    color:#fff;
    background:transparent;
    opacity: 0.9;
    padding:0px;
    top:40px;
    }
    #user-info:hover{
        color:#fff;
    }
    #user-image{
        width:70px;
        height:70px;
        border-radius:50%;
    }
} 
#inner-working{
    padding:0px;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
    #map-container{
        position:relative;
        width: 100vw;
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
        background: $blue-background;
        padding:15px;
        #map{
            width:50%;
            background:#333;
            height:35vw;
        }
        #food-filter{
            width:50%;
            padding:0px 15px 15px;
            display:flex;
            flex-wrap:wrap;
            align-content: center;
            
        
            #zip-input{
                position:relative;
                display:flex;
                justify-content: flex-start;
                top:15px;
                margin-bottom:15px;
                height:45px;
                width:100%;
                input{
                    width:75%;
                    border-top-left-radius: 8px;
                    border-bottom-left-radius:8px;
                    font-size:18px;
                    height:100%;
                    border:none;
                    margin:0px;
                    padding:0px 0px 0px 15px;
                }
                button{
                    width:25%;
                    background:$orange-background;
                    color:#fff;
                    font-family:$main-font;
                    font-weight:700;
                    text-transform: uppercase;
                    font-size:18px;
                    border:none;
                    height:100%;
                    margin:0px;
                    padding:0px;
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                }
            }
            #food-style-drop{
                position:relative;
                margin:0px 0px 0px;
                background:$orange-background;
                border-radius: 8px;
                text-transform:uppercase;
                font-size:18px;
                font-family: $main-font;
                font-weight:700;
                color: #FFFFFF;
                border:none;
                width:100%;
                height:45px;
            }
            
            #distance-drop{
                position:relative;
                background:$orange-background;
                margin:15px 0px 0px;
                text-transform:uppercase;
                border-radius: 8px;
                font-family: $main-font;
                font-size:18px;
                font-weight:700;
                color: #FFFFFF;
                border:none;
                width:100%;
                height:45px;
            }
        }
        
    }
    
#truck-list{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.food-truck{
    background:$orange-background;
    padding:20px;
    display:inline-flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: $main-font;
    color:#fff;
    width:50%;
    text-align:left;
    font-size:24px;
    height:125px;
    letter-spacing: 1px;
    border:none;
    font-family: 'Luckiest Guy','Open Sans', sans-serif;
}
// .distance-away{
//     font-family:'Open Sans', sans-serif;
// }
button:hover{
    opacity:0.9;
}

.drop-content{
    display:none;
    position:absolute;
    font-family: $main-font;
    text-align:center;
    width:100%;
    color:#fff;
    background:transparent;
    opacity: 0.9;
    padding:0px;
    top:70px;
    p{
        margin:0px;
    }
}
// style for filter modals
.modal-content{
    background:$blue-background;
    font-family: $main-font;
    padding:20px;
    color:#fff;
    width:700px;
    height:550px;
    margin:20% auto;
    box-shadow:0 5px 12px 0 rgba(0,0,0,0.2), 0 5px 15px 0 rgba(0,0,0,0.15);
    animation-name:modal-render;
    animation-duration:1s;
}

.closeBtn{
    opacity: 0.8;
    font-size:3em;
    float:right;
}
.closeBtn:hover,.closeBtn:focus{
    color:#000;
    cursor:pointer;
}
#food-style-modal{
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    z-index:1000;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgba(0,0,0,0.6);
}
#radius-modal{
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    z-index:1000;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgba(0,0,0,0.6);
}
#truck-modal{
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    z-index:1000;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgba(0,0,0,0.6);
}
#register {
    background: linear-gradient(174deg, #DEAD30 0%, #E28B31 77%, #E37E31 100%);
    display: flex;
    font-family: AvenirNext-Bold;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    height: 240px;
    margin-top: 300px !important;
  
  }
  
  .register-left {
    text-align: center;
    color:#003845;
    padding: 30px;
  }
  
  .register-left p {
    padding: 20px 20px 0;
  }
  
  .register-left .btn-primary
  {
    border-radius: 1.5rem;
    border: none;
    width: 120px;
    background: #f8f8f8;
    font-weight: 600;
    color: #003845;
    margin-top: 20px;
    padding:10px;
  }
  
  .register-left .btn-primary:hover{
    background: #003845;
  }
  
  .register-right
  {
    border: none;
    background: #f8f8f8;
    border-top-left-radius: 10% 50%;
    padding: 50px;
  }
  
  .register-right h2 
  {
    text-align: center;
    margin-bottom:10px;
    color: #003450;
  }
  
  .register-form
  {
    padding: 30px;
  
  }
  
  .register-right .btn-primary
  { float: right;
    border-radius: 1.5rem;
    border: none;
    width: 120px;
    background: #E37E31;
    font-weight: 600;
    color: #fff;
    margin-top: 20px;
    padding:10px;
  
  }
  
  
  .register-right .btn-primary:hover
  {
    background: #003845;
  }
  
  #login {
    float: left;
    border-radius: 1.5rem;
    border: none;
    width: 120px;
    background: #E37E31;
    font-weight: 600;
    color: #fff;
    margin-top: 20px;
    padding:10px;
  
  }
  
  #login:hover
  {
    background: #003845;
  
  }
  

@media screen and (max-width:1200px){
    #inner-working{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
    }
    
    #map-container{
        width:100vw;
        #map{
            width:100%;
            height:40vh;
        }
        #food-filter{
            width:100%;
            padding:15px 0px 0px;
            display:block;
        
            #zip-input{
                position:relative;
                
                input{
                    width:65%;
                    border-top-left-radius: 8px;
                    border-bottom-left-radius:8px;
                    height:100%;
                    border:none;
                    margin:0px;
                    padding:0px 0px 0px 15px;
                }
                button{
                    width:35%;
                    background:$orange-background;
                    color:#fff;
                    font-family:$main-font;
                    border:none;
                    height:100%;
                    margin:0px;
                    padding:0px;
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                }
            }
            .dropbtn{
                position:relative;
                margin:15px 0px 0px;
                background:$orange-background;
                border-radius: 8px;
                text-transform:uppercase;
                font-size:18px;
                font-family: $main-font;
                color: #FFFFFF;
                border:none;
                width:100%;
                height:45px;
            }
        }
    }
}
@media screen and (max-width:960px){
    #main-header{
        background:$orange-background;
        width:100vw;
        display:flex;
        align-items: center;
        justify-content: flex-start;
        margin:0px;
        padding:0px;
        height:240px;
        .logo{
            height:70%;
            position:relative;
            left:25px;
        }
        
    }
    #map-container{
        width:100vw;
        
        #zip-input{
        width:100%;
    }
    #food-style-drop{
        width:49%;
    }
    #distance-drop{
        width: 49%;
    }
}
   
    .food-truck{
        width:100%;
    }
}
@media screen and (max-width:760px){
    #main-header{
        height:140px;
        #logo-text{
            font-size: 30px;
            line-height:26px;
        }
        #user-info{
            flex-direction: column;
            h2{
                font-size:1.2em;
            }
        }
        #user-image{
            width:50px;
            height:50px;
        }
    }
    #inner-working{
        padding:0px;
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
    }
    
    #map-container{
        width:100vw;
        border-radius:0px;
        #map{
            height:30vh;
        }
        #zip-input{
            
            height:45px;
            width:100%;
            input{
                width:75%;
            }
            button{
                width:25%;
            }
        }
    }
    .modal-content{
        width:100vw;
        height:100vh;
        margin:0;
        box-shadow:0 5px 12px 0 rgba(0,0,0,0.2), 0 5px 15px 0 rgba(0,0,0,0.15);
        animation-name:modal-render;
        animation-duration:1s;
    }
    .closeBtn{
        font-size:4em;
    }

    button:hover{
        opacity:1.0;
    }
}

@media screen and (max-width:600px){
    #main-header{
        height:140px;
        #logo-text{
            font-size: 30px;
            line-height:26px;
        }
    }
    #inner-working{
        padding:0px;
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
    }
    #map-container{
        width:100vw;
        border-radius:0px;
        #map{
            height:30vh;
        }
        #zip-input{
            
            height:45px;
            width:100%;
            input{
                width:55%;
            }
            button{
                width:45%;
            }
        }
        #food-style-drop{
            width:100%;
        }
        #distance-drop{
            width: 100%;
        }
    }
 
    button:hover{
        opacity:1.0;
    }
}

@keyframes modal-render{
    from{opacity: 0;}
    to{opacity: 1;}
}