* {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0px;
  padding: 0px;
}

#main-header {
  background: linear-gradient(174deg, #DEAD30 0%, #E28B31 77%, #E37E31 100%);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  height: 240px;
}
#main-header #logo-text {
  font-family: AvenirNext-Bold;
  font-size: 60px;
  color: #003845;
  line-height: 53px;
  text-align: left;
}

#inner-working {
  padding: 45px;
  display: flex;
  justify-content: space-between;
}
#inner-working #map-container {
  position: relative;
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: linear-gradient(162deg, #00A7CD 0%, #003845 100%);
  border-radius: 15px;
  padding: 15px;
}
#inner-working #map-container #map {
  width: 100%;
  background: #333;
  height: 30vw;
}
#inner-working #map-container #zip-input {
  position: relative;
  display: flex;
  justify-content: flex-start;
  top: 15px;
  height: 30px;
  width: 100%;
}
#inner-working #map-container #zip-input input {
  width: 75%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  height: 90%;
  border: none;
  margin: 0px;
  padding: 0px 0px 0px 15px;
}
#inner-working #map-container #zip-input button {
  width: 25%;
  background: linear-gradient(174deg, #DEAD30 0%, #E28B31 77%, #E37E31 100%);
  color: #fff;
  font-family: AvenirNext-Bold;
  border: none;
  height: 90%;
  margin: 0px;
  padding: 0px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
#inner-working #map-container #food-style-drop {
  position: relative;
  margin: 20px 0px 0px;
  background: linear-gradient(174deg, #DEAD30 0%, #E28B31 77%, #E37E31 100%);
  border-radius: 8px;
  font-family: AvenirNext-Bold;
  color: #FFFFFF;
  border: none;
  width: 48%;
  height: 30px;
}
#inner-working #map-container .drop-content {
  display: none;
  position: relative;
}
#inner-working #map-container #distance-drop {
  position: relative;
  background: linear-gradient(174deg, #DEAD30 0%, #E28B31 77%, #E37E31 100%);
  margin: 20px 0px 0px;
  border-radius: 8px;
  font-family: AvenirNext-Bold;
  color: #FFFFFF;
  border: none;
  width: 48%;
  height: 30px;
}
#inner-working #truck-list {
  width: 43%;
}
#inner-working #truck-list .dropdown {
  width: 100%;
}
#inner-working #truck-list .dropdown .food-truck {
  background: linear-gradient(174deg, #DEAD30 0%, #E28B31 77%, #E37E31 100%);
  font-family: AvenirNext-Bold;
  color: #fff;
  width: 100%;
  text-align: left;
  font-size: 14px;
  height: 40px;
  border: none;
  border-radius: 8px;
}
#inner-working #truck-list .dropdown .active {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
#inner-working #truck-list .dropdown .drop-content {
  display: none;
  font-family: AvenirNext-Bold;
  width: 100%;
  color: #fff;
  background: linear-gradient(174deg, #DEAD30 0%, #E28B31 77%, #E37E31 100%);
  opacity: 0.8;
  padding: 10px;
}
#inner-working #truck-list .dropdown .drop-content p {
  margin: 0px;
}

/*# sourceMappingURL=style.css.map */
