@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy|Open+Sans:300,400,600,700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  position: relative;
  margin: 0px;
  padding: 0px;
  background: #333;
}

button:hover {
  opacity: 0.8;
}

button:focus {
  outline: none;
}

#main-header {
  background: linear-gradient(174deg, #DEAD30 0%, #E28B31 77%, #E37E31 100%);
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px;
  padding: 0px 20px;
  height: 70px;
}

#main-header .logo {
  height: 50px;
  margin-right: auto;
}

#main-header .header-account-btn {
  display: none;
}

#main-header .header-btn {
  background: #FFF;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
}
#main-header #user-drop {
  position: absolute;
  right: 25px;
}
#main-header #user-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #003845;
  cursor: pointer;
}
#main-header #user-info h2 {
  margin: 15px;
  font-family: "Luckiest Guy", "Open Sans", sans-serif;
}
#main-header #user-logout {
  color: #003845;
}
#main-header #user-logout:hover {
  color: #fff;
  cursor: pointer;
}
#main-header #user-drop-content {
  display: none;
  position: absolute;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  width: 100%;
  color: #fff;
  background: transparent;
  opacity: 0.9;
  padding: 0px;
  top: 40px;
}
#main-header #user-info:hover {
  color: #fff;
}
#main-header #user-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

#inner-working {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#map-container {
  position: relative;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: linear-gradient(162deg, #00A7CD 0%, #003845 100%);
  padding: 0px;
}

#map-container #map {
  width: 50%;
  background: #333;
  height: 35vw;
}

#map-container #food-filter {
  width: 50%;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

#map-container #food-filter #address-input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  top: 15px;
  margin-bottom: 15px;
  height: 45px;
  width: 100%;
}

#map-container #food-filter #address-input input {
  width: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  font-size: 18px;
  height: 100%;
  border: none;
  margin: 0px;
  padding: 0px 0px 0px 15px;
}

#map-container #food-filter #address-input button {
  width: 25%;
  background: linear-gradient(174deg, #DEAD30 0%, #E28B31 77%, #E37E31 100%);
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  border: none;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

#map-container #food-filter #food-style-drop {
  position: relative;
  margin: 0px 0px 0px;
  background: linear-gradient(174deg, #DEAD30 0%, #E28B31 77%, #E37E31 100%);
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  border: none;
  width: 100%;
  height: 45px;
}

#map-container #food-filter #distance-drop {
  position: relative;
  background: linear-gradient(174deg, #DEAD30 0%, #E28B31 77%, #E37E31 100%);
  margin: 15px 0px 0px;
  text-transform: uppercase;
  border-radius: 8px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #FFFFFF;
  border: none;
  width: 100%;
  height: 45px;
}

#truck-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 5px;
}

.food-truck {
  background: linear-gradient(174deg, #DEAD30 0%, #E28B31 77%, #E37E31 100%);
  padding: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  width: 100%;
  text-align: left;
  font-size: 24px;
  height: 125px;
  letter-spacing: 1px;
  border: none;
  font-family: 'Luckiest Guy','Open Sans', sans-serif;
  margin: 5px 10px;
  border-radius: 5px;
}

.distance-away {
  font-family: 'Open Sans', sans-serif;
}

button:hover {
  opacity: 0.9;
}


/* .truck-dropdown {
  width: 50%;
}

.inactive .drop-content {
  display: none;
}

.active button {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.active .drop-content {
  display: block;
  position: absolute;
  z-index: 100;
} */

.drop-content {
  display: none;
  position: absolute;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  width: 100%;
  color: #fff;
  background: transparent;
  opacity: 0.9;
  padding: 0px;
  top: 70px;
}

.drop-content p {
  margin: 0px;
}

.modal-content {
  background: linear-gradient(162deg, #00A7CD 0%, #003845 100%);
  font-family: "Open Sans", sans-serif;
  padding: 20px;
  color: #fff;
  width: 700px;
  margin: 0 auto;
  -webkit-box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.2), 0 5px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.2), 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  -webkit-animation-name: modal-render;
          animation-name: modal-render;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.closeBtn {
  opacity: 0.8;
  font-size: 3em;
  float: right;
}

.closeBtn:hover, .closeBtn:focus {
  color: #000;
  cursor: pointer;
}

.modal {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

#register {
  background: linear-gradient(174deg, #DEAD30 0%, #E28B31 77%, #E37E31 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: AvenirNext-Bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px;
  padding: 0px;
  height: 100px;
  margin-top: 25px !important;
}

.register-left {
  text-align: center;
  color: #003845;
  padding: 30px;
}

.register-left p {
  padding: 20px 20px 0;
}

.register-left .btn-primary {
  border-radius: 1.5rem;
  border: none;
  width: 120px;
  background: #f8f8f8;
  font-weight: 600;
  color: #003845;
  margin-top: 20px;
  padding: 10px;
}

.register-left .btn-primary:hover {
  background: #003845;
}

.register-right {
  border: none;
  background: #f8f8f8;
  border-top-left-radius: 10% 50%;
  padding: 50px;
}

.register-right h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #003450;
}

.register-form {
  padding: 30px;
}

.register-right .btn-primary {
  float: right;
  border-radius: 1.5rem;
  border: none;
  width: 120px;
  background: #E37E31;
  font-weight: 600;
  color: #fff;
  margin-top: 20px;
  padding: 10px;
}

.register-right .btn-primary:hover {
  background: #003845;
}

#login {
  float: left;
  border-radius: 1.5rem;
  border: none;
  width: 120px;
  background: #E37E31;
  font-weight: 600;
  color: #fff;
  margin-top: 20px;
  padding: 10px;
}

#login:hover {
  background: #003845;
}

@media screen and (max-width: 1200px) {
  #inner-working {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #map-container {
    width: 100vw;
  }
  #map-container #map {
    width: 100%;
    height: 40vh;
  }
  #map-container #food-filter {
    width: 100%;
    display: block;
  }
  #map-container #food-filter #address-input {
    position: relative;
  }
  #map-container #food-filter #address-input input {
    width: 100%;
    border-radius: 8px;
    height: 100%;
    border: none;
    margin: 0px;
    padding: 0px 0px 0px 15px;
  }
  #map-container #food-filter #address-input button {
    width: 35%;
    background: linear-gradient(174deg, #DEAD30 0%, #E28B31 77%, #E37E31 100%);
    color: #fff;
    font-family: "Open Sans", sans-serif;
    border: none;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  #map-container #food-filter .dropbtn {
    position: relative;
    margin: 15px 0px 0px;
    background: linear-gradient(174deg, #DEAD30 0%, #E28B31 77%, #E37E31 100%);
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    color: #FFFFFF;
    border: none;
    width: 100%;
    height: 45px;
  }
}

@media screen and (max-width: 960px) {
  #main-header {
    background: linear-gradient(174deg, #DEAD30 0%, #E28B31 77%, #E37E31 100%);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;
    height: 240px;
  }
  #main-header .logo {
    height: 70%;
    position: relative;
    left: 25px;
  }

  #map-container {
    width: 100vw;
  }
  #map-container #address-input {
    width: 100%;
  }
  #map-container #food-style-drop {
    width: 49%;
  }
  #map-container #distance-drop {
    width: 49%;
  }

}

@media screen and (max-width: 760px) {
  #main-header {
    height: 50px;
  }
  #main-header .logo {
    height: 30px;
  }
  #main-header #logo-text {
    font-size: 30px;
    line-height: 26px;
  }

  #main-header #user-info {
    flex-direction: column;
  }
  #main-header #user-info h2 {
    font-size: 1.2em;
  }
  #main-header #user-image {
    width: 50px;
    height: 50px;
  }

  #inner-working {
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #map-container {
    width: 100vw;
    border-radius: 0px;
  }
  #map-container #map {
    height: 30vh;
  }
  #map-container #address-input {
    height: 45px;
    width: 100%;
  }
  #map-container #address-input input {
    width: 75%;
  }
  #map-container #address-input button {
    width: 25%;
  }
  .modal-content {
    width: 100vw;
    height: 100vh;
    margin: 0;
    -webkit-box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.2), 0 5px 15px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.2), 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    -webkit-animation-name: modal-render;
            animation-name: modal-render;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
  }
  .closeBtn {
    font-size: 4em;
  }
  button:hover {
    opacity: 1.0;
  }
}

@media screen and (max-width: 600px) {
  #main-header {
    height: 50px;
  }
  #main-header .logo {
    height: 30px;
  }
  #main-header #logo-text {
    font-size: 30px;
    line-height: 26px;
  }
  #inner-working {
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #map-container {
    width: 100vw;
    border-radius: 0px;
    padding: 0;
  }
  #map-container #map {
    height: 30vh;
  }
  #map-container #address-input {
    height: 45px;
    width: 100%;
  }
  #map-container #address-input input {
    width: 55%;
  }
  #map-container #address-input button {
    width: 45%;
  }
  #map-container #food-style-drop {
    width: 100%;
  }
  #map-container #distance-drop {
    width: 100%;
  }
  #map-container #food-filter {
    padding: 20px;
  }
  button:hover {
    opacity: 1.0;
  }
}

@-webkit-keyframes modal-render {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modal-render {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


#aboutus{

  background: linear-gradient(174deg, #DEAD30 0%, #E28B31 77%, #E37E31 100%);
  display: flex;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
  height: 100px;
  margin-top: 25px !important;
}

.heading-title {
  margin-bottom: 100px;
}
.text-center {
  text-align: center;
}
.heading-title h3 {
  margin-bottom: 0;
  letter-spacing: 2px;
  font-weight: normal;
  color: #003845;
}
.p-top-30 {
  padding-top: 30px;
  font-size: 18px;
}
.half-txt {
  width: 60%;
  margin: 0 auto;
  display: inline-block;
  line-height: 25px;
  color: #003845;
}
.text-uppercase {
  text-transform: uppercase;
}

.team-member, .team-member .team-img {
  position: relative;
}
.team-member {
  overflow: hidden;
}
.team-member, .team-member .team-img {
  position: relative;
}

.team-hover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  border: 20px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.90);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.team-member:hover .team-hover .desk {
  top: 35%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
  opacity: 1;
}
.team-hover .desk {
  position: absolute;
  top: 0%;
  width: 100%;
  opacity: 0;
  -webkit-transform: translateY(-55%);
  -ms-transform: translateY(-55%);
  transform: translateY(-55%);
  -webkit-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
  padding: 0 20px;
}
.desk, .desk h4, .team-hover .s-link a {
  text-align: center;
  color: #003845;
}
.team-member:hover .team-hover .s-link {
  bottom: 10%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
  opacity: 1;
}
.team-hover .s-link {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
  text-align: center;
  -webkit-transform: translateY(45%);
  -ms-transform: translateY(45%);
  transform: translateY(45%);
  -webkit-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
  font-size: 35px;
}
.desk, .desk h4, .team-hover .s-link a {
  text-align: center;
  color:#003845;
}
.team-member .s-link a {
  margin: 0 10px;
  color: #333;
  font-size: 16px;
}
.team-title {
  position: static;
  padding: 20px 0;
  display: inline-block;
  letter-spacing: 2px;
  width: 100%;
}
.team-title h5 {
  margin-bottom: 0px;
  display: block;
  text-transform: uppercase;
  color: #003845;
}
.team-title span {
  font-size: 12px;
  text-transform: uppercase;
  color: #003845;
  letter-spacing: 1px;
}

#log-in-modal form, #sign-up-modal form {
  display: block;
  margin: 10px auto;
}

#log-in-modal form input, #sign-up-modal form input {
  display: block;
}

.account-menu {
  position: fixed;
  right: 0px;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  background: #FFF;
  z-index: 2000;
  width: 30vh;
  display: none;
}

.account-menu button {
  margin-top: 20px;
}

