$orange-background: linear-gradient(174deg, #DEAD30 0%, #E28B31 77%, #E37E31 100%);
$blue-background: linear-gradient(162deg, #00A7CD 0%, #003845 100%);
$main-font:AvenirNext-Bold;

*{
    box-sizing: border-box;
}
body{
    position:relative;
    margin: 0px;
    padding:0px;
}
#main-header{
    background:$orange-background;
    width:100vw;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:0px;
    padding:0px;
    height:240px;
    .logo{
    }
    #logo-text{
        font-family: $main-font;
        font-size: 60px;
        color: #003845;
        line-height: 53px;
        text-align:left;
    }
} 
#inner-working{
    padding:45px;
    display:flex;
    justify-content: space-between;
    #map-container{
        position:relative;
        width: 50vw;
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
        background: $blue-background;
        border-radius: 15px;
        padding:15px;
        #map{
            width:100%;
            background:#333;
            height:30vw;
        }
        #zip-input{
            position:relative;
            display:flex;
            justify-content: flex-start;
            top:15px;
            height:30px;
            width:100%;
            input{
                width:75%;
                border-top-left-radius: 8px;
                border-bottom-left-radius:8px;
                height:90%;
                border:none;
                margin:0px;
                padding:0px 0px 0px 15px;
            }
            button{
                width:25%;
                background:$orange-background;
                color:#fff;
                font-family:$main-font;
                border:none;
                height:90%;
                margin:0px;
                padding:0px;
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
            }
        }
        #food-style-drop{
            position:relative;
            margin:20px 0px 0px;
            background:$orange-background;
            border-radius: 8px;
            font-family: $main-font;
            color: #FFFFFF;
            border:none;
            width:48%;
            height:30px;
        }
        .drop-content{
            display:none;
            position:relative;
        }
        #distance-drop{
            position:relative;
            background:$orange-background;
            margin:20px 0px 0px;
            border-radius: 8px;
            font-family: $main-font;
            color: #FFFFFF;
            border:none;
            width:48%;
            height:30px;
        }
    }
    #truck-list{
        width:43%;
    .dropdown{
        width:100%;
        .food-truck{
            background:$orange-background;
            font-family: $main-font;
            color:#fff;
            width:100%;
            text-align:left;
            font-size:14px;
            height:40px;
            border:none;
            border-radius:8px;
        }
        .active{
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }
        .drop-content{
            display:none;
            font-family: $main-font;
            width:100%;
            color:#fff;
            background:$orange-background;
            opacity: 0.8;
            padding:10px;
            p{
                margin:0px;
            }
        }
    }
}

}